@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(./materialicons.woff2) format('woff2');
}

:root {
    --bs1: 0 3px 10px rgba(0,0,0,0.05), 0 3px 10px rgba(0,0,0,0.05);
    --bs1i: 0 3px 10px rgba(0,0,0,0.05) inset, 0 3px 10px rgba(0,0,0,0.05) inset;
    --bs2: 0 2px 6px rgba(0,0,0,0.12),0 2px 6px rgba(0,0,0,0.15);
    --bs2i: 0 3px 8px rgba(0,0,0,0.08) inset,0 3px 8px rgba(0,0,0,0.115) inset;
    --Transition: all 0.15s cubic-bezier(.25,.8,.25,1);
    --tTime: 0.15s;
    --tAnimation: cubic-bezier(.25,.8,.25,1);
    --TextColor: black;
    --panel-separator-color: var(--arrowpanel-color);
    /* Overwritten Firefox Variavles */
    --arrowpanel-border-color: transparent !important;
    --panel-subview-body-padding: 5px !important;
    --panel-border-color: rgba(0,0,0,0);
	/* Icon Variables */
    --AspectRatio: "aspect_ratio";
    --AddPerson: "person_add";
    --Badge: "verified_user";
    --Book: "book";
    --BookmarkAdd: "bookmark_add";
    --Bookmarks: "bookmarks";
    --Broken: "broken_image";
    --Calculator: "insert_chart";
    --Camera: "photo_camera";
    --Caption: "closed_caption";
    --Change: "change_history";
    --Check: "done";
    --Clear: "clear_all";
    --Clock: "access_time";
    --Close: "close";
    --Code: "code";
    --Compare: "compare_arrows";
    --Copy: "content_copy";
    --Cut: "content_cut";
    --Desktop: "dashboard";
    --Delete: "delete";
    --Desktop: "desktop_windows";
    --Document: "description";
    --Door: "sensor_door";
    --Download: "download";
    --Email: "drafts";
    --Error: "error";
    --Extension: "extension";
    --External: "exit_to_app";
    --External2: "open_in_new";
    --Eye: "remove_red_eye";
    --EyeBlind: "visibility_off";
    --FastForward: "fast_forward";
    --Feedback: "feedback";
    --File: "insert_drive_file";
    --Filter: "filter_list";
    --Folder: "folder";
    --Format: "text_format";
    --FormatClear: "format_clear";
    --Fullscreen: "fullscreen";
    --Gavel: "gavel";
    --Grid: "grid_on";
    --Group: "people";
    --Hammer: "gavel";
    --Highlight: "highlight_alt";
    --Help: "help";
    --Key: "vpn_key";
    --Landscape: "crop_landscape";
    --Line: "remove";
    --Lock: "lock";
    --Keyboard: "keyboard";
    --Math: "functions";
    --Menu: "menu";
    --Message: "message";
    --ModuleView: "view_module";
    --NewFolder: "create_new_folder";
    --NumberList: "format_list_numbered";
    --Paint: "format_paint";
    --Person: "person";
    --Play: "play_arrow";
    --PlayCircle: "play_circle_outline";
    --Print: "print";
    --Priority: "priority_high";
    --Quote: "format_quote";
    --Read: "chrome_reader_mode";
    --Refresh: "refresh";
    --Resize: "open_in_full";
    --RestorePage: "restore_page";
    --Save: "save";
    --Settings: "settings";
    --Search: "search";
    --Security: "security";
    --Share: "share";
    --SharedFolder: "folder_shared";
    --ShortText: "short_text";
    --SmartPhone: "smartphone";
    --SpellCheck: "spellcheck";
    --Stack: "reorder";
    --Star: "star";
    --StarOutline: "star_outline";
    --Symbol: "emoji_symbols";
    --Tab: "tab";
    --Table: "table_rows";
    --Talk: "forum";
    --Trending: "whatshot";
    --TrendingUp: "trending_up";
    --Toolbox: "business_center";
    --ViewCarousel: "view_carousel";
    --Video: "videocam";
    --Warning: "warning";
    --Wrench: "build";
    --Palette: "palette";
    --Zoom: "zoom-in";
    /* similar icons */
    --CenterAlign: "format_align_center";
    --LeftAlign: "format_align_left";
    --RightAlign: "format_align_right";
    /**/
    --RightIndent: "format_indent_decrease";
    --LeftIndent: "format_indent_increase";
    /**/
    --SmallUpArrow: "keyboard_arrow_up";
    --SmallDownArrow: "keyboard_arrow_down";
    --SmallLeftArrow: "keyboard_arrow_left";
    --SmallRightArrow: "keyboard_arrow_right";
    --UpArrow: "arrow_upward";
    --DownArrow: "arrow_downward";
    --LeftArrow: "arrow_back";
    --RightArrow: "arrow_forward";
    --DropUpArrow: "arrow_drop_up";
    --DropDownArrow: "arrow_drop_down";
    --TopRightArrow: "call_made";
    --UpDownArrows: "import_export";
    /* content icons */
    --Add: "add";
    --AddPhoto: "add_photo_alternate";
    --AddToPhotos: "add_to_photos";
    --AddVideo: "video_call";
    --BookStack: "library_books";
    --Bold: "format_bold";
    --BulletList: "format_list_bulleted";
    --Info: "info";
    --InfoOutline: "info_outline";
    --Italic: "format_italic";
    --Link: "link";
    --LinkOff: "link_off";
    --Paste: "content_paste";
    --Pen: "create";
    --PhotoList: "photo_library";
    --Photo: "insert_photo";
    --Subscript: "subscript";
    --Sort: "sort";
    --Strikethrough: "strikethrough_s";
    --Superscript: "superscript";
    --Tag: "label";
    --Title: "title";
    --Translate: "translate";
    --Underline: "format_underlined";
    --Upload: "publish";
    --Undo: "undo";
    --Redo: "redo";
    --Window: "web_asset";
}

/* other CSS */
#navigator-toolbox {
    border-bottom: none !important;
}

* {
    font-family: SF Pro Display;
    font-weight: 500;
}

#nav-bar {
    box-shadow: none !important;
    height: 35px;
}

#PersonalToolbar {
    padding-bottom: 1px !important;
    padding-top: 0.5px !important;
}

#urlbar-input {
    margin-top: -1px !important;
}

#urlbar[open] > #urlbar-background {
box-shadow: 0 1px 5px rgba(0,0,0,0.03), 0 1px 5px rgba(0,0,0,0.03) !important;
}

#urlbar:not([open]) {
    --urlbar-height: 30.5px !important;
}

#urlbar:not([open]) #urlbar-background {
    transform: translateY(1px) !important;
    height: 29px !important;
}

.tab-background {
    margin: 4px 0 3px 0 !important;
}

.identity-color-toolbar .tab-background {
    border-radius: 2px 2px 4px 4px !important;
}

.tab-close-button {
    list-style-image: url("./SVGs/Close.svg") !important;
    margin-bottom: -1px !important;
    padding: 3px !important;
    height: 20px !important;
    width: 20px !important;
}

#urlbar-search-mode-indicator-close {
    background: url("./SVGs/Close.svg") !important;
}

#PanelUI-button {
    margin-right: -2px !important;
}

#nav-bar-overflow-button {
    margin-right: -6px !important;
}

.webextension-browser-action .toolbarbutton-badge {
    box-shadow: 0 0px 5px rgba(0,0,0,0.04), 0 0px 5px rgba(0,0,0,0.04) !important;
    background-color: var(--toolbar-field-color) !important;
    color: var(--toolbar-field-background-color) !important;
    border-radius: 2em !important;
}

#new-tab-button image, #tabs-newtab-button image {
    list-style-image: url("./SVGs/Add.svg") !important;
    height: calc(var(--tab-min-height)) !important;
    width: calc(var(--tab-min-height)) !important;
    padding: 2.5px !important;
}

toolbar .toolbarbutton-1#alltabs-button > .toolbarbutton-badge-stack {
    transform: translateY(.25px);
    margin-left: -6px !important;
    padding: 4px !important;
}

#allTabsMenu-allTabsViewTabs > .all-tabs-item {
    margin-inline: 0px !important;
}

#allTabsMenu-allTabsViewTabs {
    padding-bottom: ;
}

menupopup > menuitem > .menu-iconic-left, menupopup > menu > .menu-iconic-left {
    margin-left: -2px !important;
}

#tabbrowser-arrowscrollbox {
    padding-left: 3px;
}

#urlbar-input-container > box {
    margin: 1.5px 0 2.25px 0 !important;
}

#star-button[starred], .urlbarView-row[source="bookmarks"] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-favicon, .urlbarView-type-icon {
    fill: var(--toolbar-field-color) !important;
    stroke: none !important;
}

#personal-toolbar-empty-description, #PersonalToolbar .toolbarbutton-1, toolbarbutton.bookmark-item:not(.subviewbutton) {
    margin: 0.5px 0px 3px 0 !important;
    padding: 3px 4px !important;
}

.urlbarView-row:is([type="switchtab"], [type="remotetab"]) > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-action {
    padding: 4px 8px;
}

#appMenu-library-bookmarks-button {
    height: 28px !important;
}

#customizationui-widget-multiview #appMenu-libraryView, #pageActionPanel panelview, #widget-overflow panelview {
    min-width: 25em !important;
    max-width: 25em !important;
}

menupopup > menu, menupopup > menuitem, menupopup > menucaption {
    max-width: 25em !important;
}

#appMenu-protonMainView toolbarbutton, #appMenu-fxa-label2 {
    padding: 5px 10px !important
}

#back-button image, #forward-button image, .tab-close-button.close-icon {
    border-radius: 50% !important;
}

#appMenu-proton-update-banner {
    transition: var(--Transition) !important;
    margin: 0 0 4px 0 !important;
}

.panel-banner-item[notificationid="update-available"] > .toolbarbutton-icon, .panel-banner-item[notificationid="update-downloading"] > .toolbarbutton-icon, .panel-banner-item[notificationid="update-manual"] > .toolbarbutton-icon, .panel-banner-item[notificationid="update-other-instance"] > .toolbarbutton-icon, .panel-banner-item[notificationid="update-restart"] > .toolbarbutton-icon {
    fill: currentColor !important;
}

/* work on border */
.tab-background[selected="true"], :root:not([lwtheme-mozlightdark]) #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected="true"], [multiselected]) > .tab-stack > .tab-background:-moz-lwtheme {
    box-shadow: 0 0px 5px rgba(0,0,0,0.08), 0 0px 5px rgba(0,0,0,0.08) !important;
    border-radius: 1.5px 4px 4px 1.5px !important;
}

.tab-background:is([selected], [multiselected]):-moz-lwtheme {
    border: none !important;
    border-left: 4px solid var(--lwt-tab-line-color, var(--lwt-tabs-border-color, currentColor)) !important;
}

#scrollbutton-down, #scrollbutton-up {
    height: calc(var(--tab-min-height) + 7px) !important;
    width: calc(var(--tab-min-height) + 7px) !important;
    margin-bottom: -1px !important;
}

#scrollbutton-up {
    margin-left: -6px !important;
}

.tabbrowser-tab + #tabs-newtab-button {
    transform: translateY(2.5px);
}

.urlbarView-row {
    margin: -3.75px 0 !important;
    overflow: hidden !important;
    min-height: 20px !important;
}

.urlbarView-row-inner {
    padding: 5px 12.5px !important;
    margin: 0 !important;
}

#toolbox-tab-inspector {
    font-weight: 900 !important;
  }

#appMenu-fxa-status2 {
    margin-right: 0 !important;
}

.urlbar-input-box {
    margin-left: 5px !important;
}

.urlbar-page-action, #urlbar-go-button, .search-go-button {
    transform: scale(0.9);
}

.urlbar-page-action image, #urlbar-go-button image, .search-go-button image {
    transform: scale(1.05);
}

.urlbarView-row:not([type="tip"], [type="dynamic"])[selected] > .urlbarView-row-inner, .urlbarView-row-inner[selected] {
    background: highlight;
}

*::part(arrowscrollbox) {
    background: black !important;
}

menupopup {
    -moz-window-shadow: unset !important;
}

menupopup > menuitem, menupopup > menu {
    padding-block: calc(0.1875em + 2px) !important;
}

.tab-icon-image {
    transform: translateY(0.5px);
}

#downloadsListBox {
    margin: 0 0 0.5em 0 !important;
}

#downloadsListBox > richlistitem {
    transition: var(--Transition) !important;
    border-radius: 5px !important;
    padding: 0 0.75em !important;
    margin: 0 !important;
}

#customizationui-widget-multiview panelview:not([extension]) {
    max-width: 25em !important;
}

::-moz-progress-bar {
    background: highlight !important;
}

#TabsToolbar {
    --tab-min-height: 24px;
}

.tab-content {
    padding-left: 8px !important;
}

#nav-bar-customization-target {
    padding-left: 5px;
}

#urlbar-zoom-button {
    color: var(--toolbar-color) !important;
    margin: 3px 2px 4.5px 2px !important;
    border-radius: 1em !important;
    padding: 0px 8px !important;
}

.toolbarbutton-icon[label="Full Screen"] {
    border-radius: 5px !important;
    padding: 3px !important;
    width: 23px !important;
    height: 23px;
}

.toolbarbutton-icon[label="Zoom out"], .toolbarbutton-icon[label="Zoom in"] {
    height: 22.5px !important;
    width: 22.5px !important;
}

#appMenu-fullscreen-button2 .toolbarbutton-icon {
    border-radius: 5px !important;
    height: 22.5px !important;
    width: 22.5px !important;
    padding: 4px !important;
}

#appMenu-zoomReset-button2 label {
    border-radius: 1em !important;
    padding: 5px 10px !important;
    height: 25px !important;
}

#appMenu-zoomReset-button2 {
    transform: translateY(-0.5px);
}

.tab-background[multiselected="true"]:not([selected="true"]) {
    opacity: 0.6 !important;
}

.titlebar-buttonbox-container {
    margin-right: 8px;
}

input.findbar-textbox::placeholder, .findbar-highlight, .findbar-case-sensitive, .findbar-match-diacritics, .findbar-entire-word, .findbar-label {
    color: var(--toolbar-color) !important;
}

input.findbar-textbox[status="notfound"] {
    background: #E22850 !important;
    color: #FFF !important;
}

input.findbar-textbox:-moz-lwtheme {
    transition: color var(--tTime) var(--tAnimation), background-color var(--tTime) var(--tAnimation);
    font-size: 13px !important;
}

image.checkbox-check {
    border: 1.5px solid var(--toolbar-color) !important;
    transition: color var(--tTime) var(--tAnimation), background-color var(--tTime) var(--tAnimation);
    background-color: transparent !important;
}

.urlbarView-url {
    color: var(--toolbar-field-focus-color) !important;
    margin-left: 7.5px !important;
    font-size: 1em !important;
    opacity: 0.66;
}

image.checkbox-check[checked] {
    background-color: var(--lwt-accent-color) !important;
    color: var(--toolbar-color) !important;
    background-size: 80% !important;
    border-radius: 3.5px !important;
    border: none !important;
}

.checkbox-check:not([native]) {
    height: 18px !important;
    width: 18px !important;
}

.urlbarView-row[type="tip"] {
    margin: 5px 0 3px -2.5px !important;
    padding-block: 0 !important;
    height: 45px !important;
    border: none !important;
}

menuseparator:before, toolbarseparator {
    border-top: 1px solid var(--arrowpanel-color) !important;
    border-image: none !important;
    opacity: 0.16 !important;
}

.findbar-container checkbox {
    font-size: 12px;
}

#appMenu-zoom-controls2 {
    padding: 0 0 0 10px !important;
}

#appMenu-zoom-controls2 > .subviewbutton {
    margin-inline-start: 0px !important;
}

.menu-iconic-text, .findbar-label.found-matches, .findbar-label.findbar-find-status {
    font-size: 13px !important;
}

.search-one-offs {
    border-top: 1px solid var(--autocomplete-popup-separator-color);
    padding: 6px 0 !important;
    margin-top: 5px;
}

.tab-label-container:not([selected="true"], [multiselected]), #tabbrowser-arrowscrollbox[scrolledtostart="true"]::part(scrollbutton-up), #tabbrowser-arrowscrollbox[scrolledtoend="true"]::part(scrollbutton-down) {
    opacity: 1;
}

#urlbar:not(.searchButton) > #urlbar-input-container > #identity-box[pageproxystate="invalid"] {
    margin-right: -2.5px !important;
    opacity: 0.69;
}

.urlbarView-row:not([type="tip"], [type="dynamic"])[selected] > .urlbarView-row-inner, .urlbarView-row[aria-selected="true"] .urlbarView-url, .urlbarView-row-inner[selected], .urlbarView-tip-button[selected]:hover:active, .searchbar-engine-one-off-item[selected] {
    background-color: var(--toolbar-field-focus-color) !important;
    color: var(--toolbar-field-focus-background-color) !important;
}

.urlbarView-row[aria-selected="true"] .urlbarView-type-icon, .searchbar-engine-one-off-item[selected] {
    fill: var(--toolbar-field-focus-background-color) !important;
}

#urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background, #searchbar:focus-within {
    outline: highlight solid 3px !important;
    outline-offset: -2px !important;
}

#urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: unset !important;
    width: 100% !important;
}

#urlbar-input-container {
    height: calc(var(--urlbar-toolbar-height) - 3px) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    padding: 2px 4px 2px calc(10px + var(--urlbar-container-padding)) !important;
    border: highlight solid 3px !important;
    margin-bottom: 2px !important;
    min-height: 37px !important;
    height: unset !important;
}

#urlbar-search-mode-indicator {
    padding-inline: 12px 6px !important;
    margin-inline-end: 2px !important;
    border-radius: 1em !important;
    margin: 1px 0 !important;
}

#urlbar-search-mode-indicator #urlbar-search-mode-indicator-close {
    background: url("./SVGs/Close.svg") no-repeat center !important;
    background-size: 100% !important;
    margin: 1px 0 0 -2px !important;
}

#urlbar-input-container {
    padding-left: 2px !important;
}

#reader-mode-button[readeractive="true"] {
    background-color: var(--urlbar-box-active-bgcolor);
}

#reader-mode-button[readeractive="true"] #reader-mode-button-icon {
    fill: var(--toolbar-field-color) !important;
}

#urlbar .search-one-offs:not([hidden]) {
    margin: -3.5px 0px 0 9px !important;
    width: auto !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon, toolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
    --toolbarbutton-inner-padding: 6.5px;
    transform: translateY(-2px);
    padding: 6px !important;
}

toolbar #nav-bar-customization-target .toolbarbutton-1:where(#reload-button, #stop-button) > .toolbarbutton-icon {
    padding: 5px !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
    padding: 7px !important;
}

toolbar .toolbarbutton-1#new-tab-button > .toolbarbutton-icon {
    transform: translateY(0.5px);
}

#tabbrowser-arrowscrollbox:not([scrolledtostart])::part(overflow-start-indicator), #tabbrowser-arrowscrollbox:not([scrolledtoend])::part(overflow-end-indicator) {
    background: linear-gradient(90deg, var(--lwt-accent-color), transparent) !important;
    background-repeat: no-repeat !important;
    background-position: 0px !important;
    border: none !important;
    width: 10px !important;
}

#tabbrowser-arrowscrollbox:not([scrolledtoend])::part(overflow-end-indicator) {
    background: linear-gradient(90deg, transparent, var(--lwt-accent-color)) !important;
}

.titlebar-spacer[type="pre-tabs"] {
    width: 20px !important;
}

#editBookmarkPanelRows > vbox > html|input:focus-visible, #editBookmarkPanelRows > vbox > hbox > html|input:focus-visible {
    outline: 2px solid highlight !important;
}

#PanelUI-menu-button {
    margin-left: 2px !important;
}

#PlacesToolbar menupopup {
    appearance: none !important;
}

#protections-popup-mainView .subviewbutton-nav:not(.notFound)::after, #identity-popup-mainView .subviewbutton-nav::after, .widget-overflow-list .subviewbutton-nav::after, .PanelUI-subView .subviewbutton-nav::after {
    fill-opacity: 1 !important;
}

.dialogOverlay[topmost="true"], #window-modal-dialog::backdrop {
    background-color: rgba(0,0,0,0.25) !important;
}

.widget-overflow-list .toolbarbutton-1, .subviewbutton {
    padding: 4.25px 8px !important;
    margin: 0 5px !important;
}

.panel-subview-footer-button.subviewbutton {
    margin: 0 5px 5px 5px !important;
}

#appMenu-libraryView toolbarbutton {
    padding: 4.25px 10px !important;
    margin: 0px !important;
}

#BMB_bookmarksPopup .subviewbutton > .menu-iconic-text, #PlacesToolbar menu > .menu-iconic-text, #PlacesToolbar menuitem > .menu-iconic-text, .addon-banner-item > .toolbarbutton-text, .subviewbutton-iconic > .toolbarbutton-text, .subviewbutton[image] > .toolbarbutton-text, .subviewbutton[targetURI] > .toolbarbutton-text, .subviewbutton.bookmark-item > .toolbarbutton-text, .subviewbutton[checked="true"] > .toolbarbutton-text {
    padding-inline-start: 5px !important;
}

.subview-subheader {
    color: color-mix(in srgb, transparent 15%, currentColor) !important;
    font-size: 13.5px !important;
    margin-left: 6px !important;
}

#downloadsPanel-blockedSubview, #downloadsPanel-mainView {
    min-width: 30em !important;
}

.downloadMainArea {
    padding-inline-start: 0 !important;
    padding: 6px !important;
}

#PlacesToolbar menu menupopup {
    margin-top: -5px !important;
}

menupopup {
	--menupopup-border: none !important;
	--menupopup-shadow: none !important;
}

.menupopup-arrowscrollbox {
	box-shadow: none !important;
    border: none !important;
}

#PlacesToolbar menupopup[placespopup=true]::part(content) {
    border: none !important;
}

#PlacesToolbarDropIndicator, .tab-drop-indicator {
    background: var(--toolbar-color) !important;
    list-style-image: none !important;
    border-radius: 2px !important;
    margin-top: 2px !important;
    height: 21px !important;
    width: 2px !important;
}

.tab-drop-indicator {
    margin-bottom: 2.5px !important;
    margin-top: 4px !important;
    opacity: 0.5 !important;
}

/* Common Properties */
div[dynamicType="onboardTabToSearch"], .urlbarView-title-separator::before, .urlbarView-action, .urlbarView-row[label]::before, #editBookmarkPanelInfoArea, #editBookmarkPanel toolbarseparator, .tab-context-line {
    display: none !important;
}

toolbarbutton, #identity-box, toolbarbutton > *, .urlbarView-row *, .search-panel-one-offs *, .tab-icon-image[fadein], .tab-close-button[fadein], .tabbrowser-tab[fadein]::after, .tab-background[fadein], #urlbar * {
    transition: var(--Transition) !important;
}

.urlbarView-url {
    transition: none !important;
}

#urlbar:not([focused="true"], [open]):-moz-lwtheme:hover > #urlbar-background, #searchbar:not(:focus-within):-moz-lwtheme:hover, #urlbar-background, #urlbar[open] > #urlbar-background, :root:not([lwtheme-image]) .browserContainer > findbar:-moz-lwtheme, #urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner, .urlbarView:not([noresults]) > .search-one-offs:not([hidden]) {
    border: none !important;
}

.urlbarView-tip-button[selected]:hover:active, #editBookmarkPanelRows > vbox > html|input, #editBookmarkPanelRows > vbox > hbox > html|input {
    outline: none !important;
}

#urlbar[focused="true"] > #urlbar-background, #searchbar:focus-within {
    box-shadow: none !important;
}

#PlacesToolbar menuitem, #PlacesToolbar menu, panelview .toolbarbutton-1, .widget-overflow-list .toolbarbutton-1, #downloadsHistory.panel-subview-footer-button.subviewbutton, #appMenu-protonMainView .subviewbutton, #sidebarMenu-popup .subviewbutton, #allTabsMenu-searchTabs, #allTabsMenu-containerTabsButton {
    margin: 0 !important;
}

#nav-bar-customization-target toolbarbutton:not(#urlbar-zoom-button), #appMenu-fxa-status2[fxastatus] {
    padding: 0 !important;
}

/* icon CSS, icon styling 
Icon URL styling: list-style-image: url("./SVGs/") */
.panel-subview-body toolbarbutton::before, menupopup menu::before, #appMenu-fxa-label2:before {
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    line-height: calc(1em - 2px) !important;
    font-family: "Material Icons";
    background: var(--TextColor);
    font-size: calc(1em + 5px);
    margin: 0 5px 0 -3px;
    display: block;
}

#urlbar:not(.searchButton) > #urlbar-input-container > #identity-box[pageproxystate="invalid"] #identity-icon {
    list-style-image: url("./SVGs/Search.svg") !important;
}

#reload-button {
    list-style-image: url("./SVGs/Refresh.svg") !important;
}

#forward-button, #back-button {
    list-style-image: url("./SVGs/Arrow.svg") !important;
}

#library-button {
    list-style-image: url("./SVGs/Library.svg") !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon[label="Library"], toolbar .toolbarbutton-1 > .toolbarbutton-icon[label="Save to Pocket"] {
    padding: 5px !important;
}

#save-to-pocket-button {
    list-style-image: url("./SVGs/FavoriteOutline.svg") !important;
}

#save-to-pocket-button[open="true"], #save-to-pocket-button[pocketed="true"] {
    list-style-image: url("./SVGs/Favorite.svg") !important;
}

#nav-bar-overflow-button {
    list-style-image: url("./SVGs/Extension.svg") !important;
}

.urlbarView-favicon[src="chrome://global/skin/icons/search-glass.svg"] {
    content: url("./SVGs/Search.svg") !important;
}

.urlbarView-favicon[src="chrome://browser/skin/history.svg"] {
    content: url("./SVGs/Clock.svg") !important;
}


#back-button {
    transform: scaleX(-1);
}

.panel-subview-body toolbarbutton::before {
    --TextColor: var(--arrowpanel-color);
}

#appMenu-zoomReset-button2 > .toolbarbutton-text {
    background: var(--zoom-controls-bgcolor, var(--button-bgcolor, ButtonFace));
}

#appMenu-new-tab-button2::before {
    content: var(--External2);
}

#appMenu-new-window-button2::before {
    content: var(--Window);
}

#appMenu-new-private-window-button2::before {
    content: var(--EyeBlind);
}

#appMenu-history-button::before, #appMenu-library-history-button::before {
    content: var(--Clock);
}

#appMenu-downloads-button::before, #appMenu-library-downloads-button::before {
    content: var(--Download);
}

#appMenu-passwords-button::before {
    content: var(--Key);
}

#appMenu-extensions-themes-button::before {
    content: var(--Extension);
}

#appMenu-print-button2::before {
    content: var(--Print);
}

#appMenu-save-file-button2::before {
    content: var(--Save);
}

#appMenu-find-button2::before {
    content: var(--Search);
}

#appMenu-settings-button::before {
    content: var(--Settings);
}

#appMenu-more-button2::before {
    content: var(--Toolbox);
}

#appMenu-help-button2::before {
    content: var(--Help);
}

#appMenu-quit-button2::before {
    content: var(--Door);
}

#appMenu-bookmarks-button::before, #appMenu-library-bookmarks-button::before {
    content: var(--Bookmarks);
}

#identity-icon {
    width: 18px !important;
    height: 18px !important;
}

#appMenu-fxa-label2:before {
    content: var(--Person);
    margin: 0 5px 0 -1px;
    font-size: 150%;
}

.urlbarView-row[pinned] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-type-icon {
    background-image: url("./SVGs/Pin.svg") !important;
    transform: scale(1.25) rotate(-45deg) !important;
}

.bookmark-item[container] {
    list-style-image: url("./SVGs/Folder.svg") !important;
}

.bookmark-item {
    list-style-image: url("./SVGs/Bookmark.svg") !important;
}

/* Makes bookmarks toolbar span multiple rows */

/* Dummy variable to support versions 94-96, can be removed when 96 lands */
:root{ --lwt-frame: var(--lwt-accent-color) }

#PersonalToolbar{
  --multirow-bmb-n-rows: 2; /* Control how many rows are shown before scrolling */
  --multirow-bmb-row-margin: 0px; /* Control how much spacing is between rows */
  max-height: none !important;
}

#PlacesToolbar > hbox{ 
  display: block;
  width: 100vw;
}

#PlacesToolbarItems{
  display: flex;
  flex-wrap: wrap;
  /* --uc-bm-padding is defined in autohide_bookmarks_toolbar.css */
  max-height: calc(var(--multirow-bmb-n-rows) * (4px + 1em + (2 * (var(--multirow-bmb-row-margin) + var(--uc-bm-padding,var(--bookmark-block-padding)))))) !important;
  overflow-y:auto;
  scrollbar-color: var(--lwt-frame) var(--toolbar-bgcolor) ;
  scrollbar-width: thin;
}

/* Hide the all-bookmarks button */
#PlacesChevron{ 
    display: none 
}

/* Add some spacing between rows */
#PlacesToolbarItems > .bookmark-item { 
    margin: var(--multirow-bmb-row-margin) 0px !important; 
}
